{% extends 'treeinfo/base.html' %}
{% block body %}
{% load static %}


<div class="container">
    <div class="row">
        {% for tree in treelist %}
        <div class="col-md-3">
            <div class="card"><a href="detail/{{tree.id}}">
                <img class="img-thumbnail centre" src="{{tree.treepic.url}}" width="230" height="280"></a>
                <div class="card-body">
                    <h5 class="card-title">{{tree}}</h5>
                    <p class="card-text">{{tree.desc}}</p>
                <a class="btn btn-warning" href="{% url 'update' tree.id %}">Update</a>
                <a class="btn btn-danger" href="{% url 'delete' tree.id %}">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}